<% title "Caravan Customers" %>

<table>
  <tr>
    <th>Customer</th>
    <th>Caravan</th>
    <th>Location</th>
    <th>No Of Adults</th>
    <th>No Of Children</th>
    <th>Arrival Date</th>
    <th>Departure Date</th>
    <th>Deposit Paid</th>
    <th>Status</th>
  </tr>
  <% for caravan_customer in @caravan_customers %>
    <tr>
      <td><%=h caravan_customer.customer_id %></td>
      <td><%=h caravan_customer.caravan_id %></td>
      <td><%=h caravan_customer.location_id %></td>
      <td><%=h caravan_customer.no_of_adults %></td>
      <td><%=h caravan_customer.no_of_children %></td>
      <td><%=h caravan_customer.arrival_date %></td>
      <td><%=h caravan_customer.departure_date %></td>
      <td><%=h caravan_customer.deposit_paid %></td>
      <td><%=h caravan_customer.status %></td>
	  
      <td><%= link_to "Show", caravan_caravan_customer(caravan_customer) %></td>
      <td><%= link_to "Edit", edit_caravan_caravan_customer_path(@caravan, caravan_customer) %></td>
      <td><%= link_to "Destroy", caravan_caravan_customer(@caravan, caravan_customer), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%#= link_to "New Caravan Customer", new_customer_caravan_customer_path(@customer) %></p>
