<% title "Caravan Facility" %>

<p>
  <strong>Caravan Customer:</strong>
  <%=h @caravan_facility.caravan_customer_id %>
</p>
<p>
  <strong>Facility:</strong>
  <%=h @caravan_facility.facility_id %>
</p>
<p>
  <strong>Qty:</strong>
  <%=h @caravan_facility.qty %>
</p>
<p>
  <strong>Unit:</strong>
  <%=h @caravan_facility.unit %>
</p>

<p>
  <%= link_to "Edit", edit_caravan_facility_path(@caravan_facility) %> |
  <%= link_to "Destroy", @caravan_facility, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", caravan_facilities_path %>
</p>
