<% title "Facilities" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <% for facility in @facilities %>
    <tr>
      <td><%=h facility.name %></td>
      <td><%=h facility.price %></td>
      <td><%=h facility.description %></td>
      <td><%= link_to "Show", facility %></td>
      <td><%= link_to "Edit", edit_facility_path(facility) %></td>
      <td><%= link_to "Destroy", facility, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Facility", new_facility_path %></p>
